<connectionStrings>
	<!-- This is needed for security  -->
	<add name="DefaultConnection" 
		 connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=True" 
		 providerName="System.Data.SqlClient"/>
	<!-- END OF This is needed for security  -->

	<!-- This is needed for ChinookDB  -->
	<add name="ChinookDB"
		connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=true"
		 providerName="System.Data.SqlClient"/>
	<!-- END OF This is needed for ChinookDB  -->
</connectionStrings>
