<connectionStrings>
	<!-- This is needed for security  -->
	<add name="DefaultConnection" 
		 connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20210124112352.mdf;Initial Catalog=aspnet-WebApp-20210124112352;Integrated Security=True" 
		 providerName="System.Data.SqlClient" />
	<!-- END OF This is needed for security  -->
	
	<!-- This is needed for WorkScheduleDB  -->
	<add name="WorkScheduleDB"
		  connectionString="Data Source=.;Initial Catalog=WorkSchedule;Integrated Security=true"
		  providerName="System.Data.SqlCLient"/>
	<!-- END OF This is needed for WorkScheduleDB  -->
</connectionStrings>